/* глобальные стили */
:root {
  --primary-bcg-color: #eddfdf;
  --secondary-bcg-color: #ffffff;
  --stat-info-bsg-color: #ede8e8;
  --table-bcg-color: #27c6db;
  --table-tr-color: #e1eaeb;
  --primary-text-color: #080707;
  --secondary-text-color: #757575;
  --dark-bcg-text: #ffffff;

  --accent-color: #2196f3;
}

body {
  background-color: var(--primary-bcg-color);
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
